#root {
    /* max-width: 1280px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    padding: 0 2rem;
    min-height: 100vh;
}

@media (max-width: 575px) {
    #root {
        padding: 0;
    }
}

.equip__card {
    background: #f7f2fa;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    font-family: "Roboto";
}

.tabs {
    display: flex;
    gap: 30px;
}

.tab-item {
    cursor: pointer;
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #49454f;
    width: fit-content;
}

.active {
    border-bottom: 2px solid #6750a4;
    color: #000;
}

.equip__photo {
    max-width: 600px;
    margin: 0;
}

.equip__image {
    width: 100%;
    height: 100%;
    margin: 0;
}

.equip__certificates {
    width: 600px;
}

@media (max-width: 425px) {
    .equip__certificates {
        width: auto;
    }
}
.equip__descr-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 600px;
    gap: 10px;
}

.equip__descr-row > span {
    font-weight: bold;
}

.equip__certificates-more {
    padding: 10px 24px;
    flex-grow: 1;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #ffffff;
    background-color: #6750a4;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    max-width: 200px;
}

.equip__certificates-more:hover {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    background-color: #735eab;
}

.equip__certificates-more:disabled {
    background: rgba(29, 27, 32, 0.12);
}
.equip__certificates-more:disabled:hover {
    box-shadow: none;
}
.certificate__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.certificate__title {
    font-weight: bold;
}

.certificate__expired {
    color: tomato;
    font-weight: bold;
}

.cerificate__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

@media (max-width: 425px) {
    .cerificate__footer {
        margin-top: 30px;
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

.pagination__block {
    display: flex;
}
.pagination {
    border: none;
    background-color: transparent;
    font-weight: 500;
    cursor: pointer;

    color: #000;
    display: block;
}

.pagination__active {
    border: none;
    font-weight: 800;
    background-color: transparent;
    color: #6750a4;
    font-weight: bold;
}

.certificates__filter {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    cursor: pointer;
    margin-top: 30px;
}

.certificates__filter > input {
    appearance: none;
    visibility: hidden;
}

.checkbox {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: 2px solid #49454f;
    border-radius: 2px;
    display: inline-block;
}

.checkbox::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url("../src/assets/checked-ico.svg") no-repeat center/12px 9px, #6750a4;
    transform: scale(0);
    transition: 0.3s all ease-in-out;
}

.certificates__filter > input:checked + .checkbox {
    border-color: #6750a4;
}

.certificates__filter > input:checked + .checkbox::before {
    transform: scale(1);
}

.skeleton {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #f0f0f0;
    background-image: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
